*.suo
*.lnk
bin/*
obj/*
*.pyc
demo.log
IronPyCrypto.dll
demo.log
demo.py
interactive.py
IronPyCrypto/StyleCop.Cache
IronPyCrypto/StyleCopViolations.xml
temp/
.paket/paket.exe
.fake
packages/
obj/
bin/