source https://nuget.org/api/v2

nuget IronPython 2.7.5
nuget IronPython.StdLib 2.7.5

group Build

  source https://nuget.org/api/v2

  nuget FAKE prerelease
  nuget FSharp.Formatting
  nuget sharpcompress

group Test

  source https://nuget.org/api/v2

  nuget NUnit.Runners
  nuget NUnit ~> 3
  nuget Moq
  nuget FSCheck
  github forki/FsUnit FsUnit.fs
